
*.dll
bin/Debug/BaseX.dll.config
bin/Debug/BaseX.xml
bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
bin/Debug/Newtonsoft.Json.Bson.xml
bin/Debug/Resolutions.pdb
bin/Debug/System.Buffers.xml
bin/Debug/System.Memory.xml
bin/Debug/System.Text.Encodings.Web.xml
bin/Debug/System.Text.Json.xml
.vs/Resolutions/FileContentIndex/241205b2-ba12-4e7a-be5a-608f325b2e36.vsidx
.vs/Resolutions/FileContentIndex/92998f44-7abd-4fb3-8e82-02e73903635a.vsidx
.vs/Resolutions/v17/.suo
.vs/Resolutions/v17/.suo
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Resolutions.csproj.AssemblyReference.cache
obj/Debug/Resolutions.csproj.CopyComplete
obj/Debug/Resolutions.csproj.CoreCompileInputs.cache
obj/Debug/Resolutions.csproj.FileListAbsolute.txt
obj/Debug/Resolutions.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Resolutions.csproj.AssemblyReference.cache
*.cache
