
*.pdb
*.xml
*.dll
*.dll
*.config
*.cache
*.txt
*.CopyComplete
.vs/Resolutions/FileContentIndex/241205b2-ba12-4e7a-be5a-608f325b2e36.vsidx
.vs/Resolutions/FileContentIndex/5b6261d0-05c5-4a29-971e-5f41e6fb05d2.vsidx
.vs/Resolutions/FileContentIndex/76a4e1ce-4cf3-44ac-8276-fc10f4394226.vsidx
.vs/Resolutions/FileContentIndex/ee599f3e-54ad-44ff-a25c-4ff24e4c954c.vsidx
*.vsidx
.vs/Resolutions/v17/.suo
obj/Debug/build.force
